<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <h2 class="pagetitle"><i class="fab fa-grav	"></i><%= '  ' %>Watch List<%= '  ' %><i class="fab fa-gulp"></i></h2>
<%= flash[:notice] %>
</nav>