<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col">
     "homes#About"
     # <C-Log(シーログ)>

     ## サイト概要
     ### デジタル版×映画×航海日誌です。自分の映画作品のログブックとして活用できます。選べる素敵なレビューサイトです。
     <...>

     ###　テーマを選んだ理由
     私は映画がとても好きで、
映画の中には、気分を高めたい時に見る映画、もしくは落ち込んだ時にその思いにふける映画もあります。
どのような映画も視聴者のレビューだけでは個人差があり、またあらすじを知ってしまうにはネタバレなどがあります。
しかし、映画の中で挿入される音楽は観る人がその場で感じることができ、感覚で映画を知ることができるのではないかと考えました。
このサイトには、監督名、作成年、また受賞履歴、いいね機能などの最低限の情報のみ掲示しています。
もし詳しく知りたい場合は、公式サイトのリンクなどもありますので、参照してください。
現在私たちがよく聴くような有名な音楽のテーマは、実際にその映画をうまく演出していたり、映画自体の興行収入も高いと考えます。
その映画を象徴する楽曲を感じながら、映画を選ぶという、今までにない映画の楽しみ方を感じてもらうためにこのアプリを作成しました。
ぜひ使用してください。
<...>

### ターゲットユーザ
<...>全年齢対象

### 主な利用シーン
<...>映画を気ままに選びたいとき、あらすじのネタバレや、レビューなどを気にせず感覚で選びたいとき。

## 設計書
<...>

## 開発環境
- OS：Linux(CentOS)
- 言語：HTML,CSS,JavaScript,Ruby,SQL
- フレームワーク：Ruby on Rails
- JSライブラリ：jQuery
- IDE：Cloud9

## 使用素材
- 外部サービスの画像素材・音声素材を使用した場合は、必ずサービス名とURLを明記してください。
- 使用しない場合は、使用素材の項目をREADMEから削除してください。

### 実装機能リスト（スプレッドシート）のURL

https://docs.google.com/spreadsheets/d/1F92O2MiJ7DGha5YNeuFrgH3s0x_HeOs-X90puZcAbeY/edit#gid=1091086188

    </div>
  </div>
</div>