<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <h2 class="pagetitle"><i class="fas fa-film"></i>About</h2>
<%= flash[:notice] %>
</nav>
          <div class="row mt-5">
            <div class="col-1">
            </div>

            <div class="col-5">
            <div class="shadow p-3 mb-4 bg-dark rounded">
              <%= image_tag 'about1.png' %>
            </div>
            <div class="shadow p-3 mb-4 bg-dark rounded">
              <%= image_tag 'about2.jpg'%>
            </div>
            </div>

            <div class="col-5">
              <div class="shadow p-3 mb-5 bg-dark rounded text-light text-center">
                <h4>映画の海へ飛び込もう！<br>
                このサイトは、電子版の映画ノートとして使えます。</p>
                自身の映画生活を記録しながら、<br>
                映画作品を選べる素敵なレビューサイトです。</p>
                映画の中には、気分を高めたい時に見る映画、<br>
                もしくは落ち込んだ時にその思いにふける<br>
                映画もあります。</p>
                製作者である私もそのような映画が大好きです。</p>
                私にとって日常生活の中にある映画は、<br>
                自身の活力を与え、<br>
                精神を癒す素敵な娯楽だと考えます。</p>
                映画のログを記録をすることは、<br>
                日々の出来事を記録することと同じことだと思います。</p>
                映画ノートを自身で作成することは良いことですが、<br>
                なかなか長続きしないことがありますので、<br>
                電子版の映画ノートを作成しました。</p>
                同時にC-Logを使う会員の人が<br>
                どのような作品がお気に入りで、<br>
                オススメの作品なのかを知ることができますので<br>
                映画を選ぶ参考にしていただくこともできます。</p>
                過去を振り返ることも、<br>
                まだ見ぬ映画作品を探すことのできる<br>
                映画ノートを制作したく、このテーマを選びました。</p>
              </div>
            </div>
          </div>
        </div>