<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">

    <div class="row">
      <h2 class="pagetitle"><i class="fas fa-film"></i><%= '  ' %>About</h2>
    </div>
    <div class="row">
      <h4 class="text-white">CINEMA-LOGを説明します。</h4>
    </div>
      <%= flash[:notice] %>
</nav>

          <div class="row mt-5">
            <div class="col-1">
            </div>

            <div class="col-5">
            <div class="shadow p-3 mb-2 bg-dark text-light">
              <%= image_tag 'about1.png' %><p>
                <h4>
                初めまして。上にいる猫は『CINEMA-LOG』のロゴになります！！<br>
                ゲストの方は、Searchで鑑賞した作品、未鑑賞の作品の情報を探索できます。映画の感想レビューなどを閲覧することができます。
                また、Sign Upで会員登録をすることができます。会員になりますと、さらに追加機能をお使いいただけます。
                </h4>
            </div>
            <div class="shadow p-3 mb-2 bg-dark text-light">
              <%= image_tag 'about2.jpg'%>
                <h4>
                会員の方は、MyPageで、これまでの感想レビュー記録や、会員情報を編集することができます。<br>
                Impressionは、会員の"今"オススメしたい映画を共有できます。<br>
                Watchでは、あなたの鑑賞作品をもう一度振り返ることもできます。
              　<br>
                その他機能もありますので、ぜひ、ご活用ください。
                </h4>
            </div>
            </div>

            <div class="col-5">
              <div class="shadow p-3 mb-5 bg-dark rounded text-light text-center">
                <h3></p>
                電子版の映画ノート『CINEMA-LOG』で、<br>
                映画の海へ飛び込みましょう！</p></h3>
                <h4>
                あなたの忘れられない映画はなんですか？<br>
                あなたをハッピーにする映画はなんですか？</p>
                もしあなたが観た映画を共有したいと思ったり、<br>
                今までに観た映画を忘れたくない人にとって<br>
                この『CINEMA-LOG』は素晴らしいアイテムになります。</p>
                このアイテムは、鑑賞した映画を記録したり、<br>
                鑑賞したい映画を手軽に選ぶことができる素敵なレビューサイトです。</p>
                映画の中には、気分を高めたい時に見る映画、<br>
                もしくは落ち込んだ時にその思いにふける映画もあります。</p>
                あなたの映画生活を記録をすることは、<br>
                日々の出来事を記録することと同じことだと思います。</p>
                製作者である私もあなたと同じように、映画が大好きです。</p>
                私にとって日常生活の中にある映画は、<br>
                自身の活力を与え、<br>
                疲れた心を癒す素敵なサプリになります。</p>
                映画ノートをご自身で作成することが最も素晴らしいことだと思いますが<br>
                長続きしない方や、新鮮さを求める方にも使って頂きたく、<br>
                この電子版の映画ノート『CINEMA-LOG』を製作いたしました。</p>
                また、このサイトを使う会員の人たちとの共有もすることができます。</p>
                どのような映画がお気に入りで、<br>
                オススメの理由を知ることができますので<br>
                映画を選ぶ参考にしていただくこともできます。</p>
                過去を振り返りつつ、<br>
                まだ見ぬ映画の探索をしてみませんか。<br>
                それでは、この『CINEMA-LOG』をお楽しみください。</p>
                </h4>
              </div>
            </div>
          </div>
          </div>
