<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">

    <div class="row">
      <h2 class="pagetitle"><i class="fas fa-film"></i><%= '  ' %>About</h2>
    </div>
    <div class="row">
      <h4 class="text-white">CINEMA_LOGを説明します。</h4>
    </div>
      <%= flash[:notice] %>
</nav>

          <div class="row mt-5">
            <div class="col-1">
            </div>

            <div class="col-5">
            <div class="shadow p-3 mb-2 bg-dark text-light">
              <%= image_tag 'about1.png' %><p>
                <h4>
                Mypageは、自分の視聴作品を振り返ることができます。<br>
                Searchは、自分の観た作品を探したり、まだ観ていない作品の情報<br>
                また、映画の感想レビューなどを閲覧することができます。
                </h4>
            </div>
            <div class="shadow p-3 mb-2 bg-dark text-light">
              <%= image_tag 'about2.jpg'%>
                <h4>
                Impressionは、ユーザーの"今"感じた映画作品を共有できます。<br>
                その他会員の方が使える機能も<br>
                ありますので、ぜひご活用してください。
                </h4>
            </div>
            </div>

            <div class="col-5">
              <div class="shadow p-3 mb-5 bg-dark rounded text-light text-center">
                <h3></p>
                電子版の映画ノート『CINEMA_LOG』で、<br>
                映画の海へ飛び込みましょう！</p></h3>
                <h4>
                あなたは、<br>
                いつもどのようなジャンルの映画を観ていますか？<br>
                今までにどんな映画を観てきましたか？</p>
                もしあなたが観た映画を共有したい、<br>
                そしてこれまでの映画を忘れたくない人にとって<br>
                この『CINEMA_LOG』は素晴らしいアイテムになります。</p>
                鑑賞した映画を記録したり、<br>
                鑑賞したい映画を選ぶこともできる素敵なレビューサイトです。</p>
                映画の中には、気分を高めたい時に見る映画、<br>
                もしくは落ち込んだ時にその思いにふける映画もあります。</p>
                あなたの映画生活を記録をすることは、<br>
                日々の出来事を記録することと同じことだと思います。</p>
                製作者である私もそのような映画が大好きです。</p>
                私にとって日常生活の中にある映画は、<br>
                自身の活力を与え、<br>
                疲れた心を癒す素敵なサプリになります。</p>
                中には、映画ノートを自身で作成することは素晴らしいことですが、<br>
                なかなか長続きしないこともある人がいるのではないかと思い、<br>
                電子版の映画ノート『CINEMA_LOG』を製作いたしました。</p>
                また、このサイトを使う会員の人たちとの共有もすることができます。</p>
                どのような作品がお気に入りで、<br>
                オススメの作品なのかを知ることができますので<br>
                映画を選ぶ参考にしていただくこともできます。</p>
                過去を振り返ることも、<br>
                まだ見ぬ映画作品を探すことのできる<br>
                素敵な『CINEMA_LOG』をお楽しみください。</p>
                </h4>
              </div>
            </div>
          </div>
          </div>
