<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Homes#top</h1>
       <%= image_tag 'felix-mooneeram-evlkOfkQ5rE-unsplash.jpg', width: '50%', height: '50%'  %>
       <br>
       ようこそ CinemaLogbook へ！
       ここでは、さまざまな映画に関するあなたの意見、印象を共有、
       交換することができます
       start
    </div>
  </div>
  <div class="row">
   IMPRESSION（会員のおすすめ映画、最近見た映画を表示させる）
  </div>
  <div class="row">
   PICK UP NEWS（管理者からのメッセージを表示させる）
  </div>
</div>
  <p>Find me in app/views/homes/top.html.erb</p>
  <%#= paginate @boards, theme: 'twitter-bootstrap-4' %>