
<h1>Homes#top view</h1>
ようこそ CinemaMusic へ！
ここでは、さまざまな映画に関するあなたの意見、印象を共有、
交換することができます

start

<p>Find me in app/views/homes/top.html.erb</p>




  <%#= paginate @boards, theme: 'twitter-bootstrap-4' %>