<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <h2 class="pagetitle"><i class="fab fa-fort-awesome"></i><%= '  ' %>Like List<%= '  ' %><i class="fas fa-smile"></i></h2>
<%= flash[:notice] %>
</nav>