<nav class="navbar navbar-dark" style="background-color:#696969">
  <div class="container">
    <div class="row">
      <h2 class="pagetitle">
        <i class="fas fa-pen"></i>
          Post index
      </h2>
    </div>
    <div class="row">
      <h3 class="text-white"></h3>
    </div>
      <%= flash[:notice] %>
</nav>